* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8f2be;
    font-family: Arial, sans-serif;
    padding: 20px 2%;
    color: #333;
}

.divsıfır {
    background-color: #799a67; 
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.divsıfır h1 {
    font-size: 2.8em;
    color: #fff;
    margin-bottom: 5px;
}

.divsıfır h2 {
    font-size: 1.4em;
    color: #e6f0dc;
    margin: 5px 0 20px 0;
}

.divsıfır p {
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.7;
    font-size: 1.1em;
}

.divsıfırgörsel img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.divsıfır:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)
}

.divbir {
    background-color: #5e8948; 
    color: white;
    border-radius: 30px;
    padding: 60px 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 0 1px 5px; 
}

.divbiraçıklama {
    flex: 1;
    text-align: center;
}

.divbiraçıklama h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #fff;
    line-height: 1.2;
    display: inline-block;
    padding-bottom: 5px;
}

.divbiraçıklama h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #e6f0dc;
    margin-top: 20px;
}

.divbiraçıklama p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.divbirgörsel {
    flex: 1;
    display: flex;
    justify-content: center;
}

.divbirgörsel img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 1px 10px;
}
.divbir:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)
}


.diviki {
    background-color: #5e8948; 
    color: white;
    border-radius: 30px;
    padding: 60px 50px;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 0 1px 5px; 
}

.divikigörsel {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.divikigörsel img {
    width: 100%;
    max-width: 380px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 1px 5px;
}

.divikiaçıklama { 
    flex: 1.5;
}

.divikiaçıklama h2 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.2;
    padding-bottom: 5px;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}

.divikiaçıklama table {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-spacing: 15px;
    text-align: center;
}

.divikiaçıklama td {
    padding: 20px 30px;
    text-align: center;
    background-color: #fff;
    color: #5e8948;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.divikiaçıklama td:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.diviki:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)
}


.divüç {
    padding: 60px 20px;
    background-color: #f7f7f7;
    margin-top: 30px;
    border-radius: 30px;
}

.divüç > h2 { 
    color: #5e8948;
    font-size: 2.5em;
    border-bottom: 3px solid #5e8948;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 0;
}

.divüçaçıklamabir, .divüçaçıklamaiki, .divüçaçıklamaüç {
    margin-bottom: 30px;
    padding: 25px;
    border-left: 5px solid #5e8948;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.divüç p {
    line-height: 1.6;
}

.divüç a {
    color: #4a6c38;
    text-decoration: none;
    font-weight: bold;
}

.divüç a:hover {
    text-decoration: underline;
}

.divüç:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)
}

.divdört {
    padding: 40px 20px;
    text-align: center;
    background-color: #4a6c38;
    color: white;
    margin-top: 30px;
    border-radius: 30px;
}

.divdört h2 {
    color: white;
    font-size: 2em;
    border-bottom: 2px solid#fff;
    padding-bottom: 5px;
    margin-bottom: 20px;
    display: inline-block;
}

.divdört p {
    font-size: 1.1em;
    margin: 5px 0;
}

.divdört a {
    color: #d8f2be;
    text-decoration: none;
    font-weight: bold;
}

.divdört a:hover {
    text-decoration: underline;
}

.divdört:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4)
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    font-size: 0.9em;
    margin-top: 20px;
    border-radius: 10px;
}
